<!-- <button color="primary" mat-button>hello</button>
<br />
<mat-card-title>login</mat-card-title>
<br />
<mat-card>
  <mat-card-header>
    <mat-card-title>Actions Buttons</mat-card-title>
    <mat-card-subtitle>Start</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<br />
<mat-card>
  <mat-card-header>
    <mat-card-title>Angular Study</mat-card-title>
    <mat-card-subtitle>Framework</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<button color="warn" mat-stroked-button>Submit</button>

<button mat-icon-button>ok</button>
<br>
<mat-icon>home</mat-icon> -->

<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <button mat-icon-button>
      <mat-icon
        class="example-icon"
        aria-hidden="false"
        aria-label="Example heart icon"
        >favorite</mat-icon
      >
    </button>
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example delete icon"
      >delete</mat-icon
    >
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <button mat-icon-button>
      <mat-icon
        class="example-icon"
        aria-hidden="false"
        aria-label="Example heart icon"
        >favorite</mat-icon
      >
    </button>
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example delete icon"
      >delete</mat-icon
    > -->
<mat-toolbar style="background-color: cadetblue" class="mat-elevation-z5">
  <mat-toolbar-row style="color: brown">
    <span>Logo</span>
    <span class="example-spacer"></span>
    <button mat-icon-button><mat-icon>favorite</mat-icon></button>
    <button mat-icon-button><mat-icon>home</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container style="background-color: rgb(224, 226, 236)">
  <mat-sidenav mode="side" opened>
    <mat-nav-list style="width: 200px" >
      <a mat-list-item routerLink='dashboard' style="height: 60px" 
        ><mat-icon>dashboard</mat-icon>Dashboard</a
      >
      <a mat-list-item routerLink = 'student-details' style="height: 60px"
        ><mat-icon>copyright</mat-icon>Student Details</a
      >
      <a mat-list-item style="height: 60px"
        ><mat-icon>donut_large</mat-icon>Feedback</a
      >
      <a mat-list-item style="height: 60px"
        ><mat-icon>autorenew</mat-icon>Staff Details</a
      >
      <a mat-list-item style="height: 60px"
        ><mat-icon>build</mat-icon>Attendancs</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <p style="height: 88vh">
      <router-outlet></router-outlet>
    </p>
    
  </mat-sidenav-content>
</mat-sidenav-container>




